$base-font: "Bebas Neue", sans-serif;
$header-font: "Yatra One";
$text-font: "Arial Narrow Bold", sans-serif;
$color-primary: #f0c75e;
$color-secondary: #ecb939;
$color-middle: #726255;
$color-dark: #372e29;
$color-darker2: #2b231f;
$color-darker: #000000;